a:visited{color: red;}
a:hover {color: #fc8c03;}
body{
    background-color: #0000}

p{
    background-image:url("../images/pumpkin.png");
    background-repeat: no-repeat;
}
.second {
    border: 2px solid #fc8c03;
}
